.container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-container{
  display: flex;
}
